h1 Avatar Rotator
form(method="post")
  p
    label(for="url") Avatar Collection Name:
      input(type="text", name="col", placeholder="Collection Name")
  p.buttons
    input(type="submit", value="Create")